    /* RESET-STYLING */
    * {
        padding: 0px;
        margin: 0px;
    }

    /* START-HEADER-SECTION */
    header {
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        align-items: center;

    }

    header>nav>ul>li {
        display: inline;
        padding: 0px 10px;
    }

    .navbar>ul>li>a {
        color: black;
    }

    .navbar>ul>li>a:hover {
        color: aqua;
    }

    a {
        text-decoration: none;
    }

    /* CLOSE-HEADER-SECTION */

    /*  START- HERO-SECTION */
    #hero {
        padding: 50px;
        text-align: center;
    }

    #hero h3 {
        font-size: 32px;
        width: 460px;
        margin: 20px auto;
    }

    #hero p {
        width: 400px;
        margin: 0px auto;
        margin-bottom: 20px;
    }

    #hero div {
        width: fit-content;
    }

    .line {
        width: fit-content;
        margin: auto;
    }

    /* END-HERO-SECTION */
    /* START-BLOG-SECTION */
    #blog {
        text-align: center;
    }

    .grid-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }

    .card-grid {
        width: fit-content;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
        margin-bottom: 20px;
    }

    .card-grid div p {
        width: 300px;
    }

    /* END-BLOG-SECTION */
    /* START-FOOTER */
    footer {
        background-color: black;
        color: white;
        text-align: center;
    }

    .scrol-bar {
        font-size: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin: 15px 0;
    }

    .lorem-1 {
        margin: auto;
        max-width: 400px;
    }

    footer h2 {
        margin: 20px 0px;
    }

    footer ul {
        margin: 20px;
        display: flex;
        justify-content: center;
        column-gap: 20px;
        list-style-type: none;
    }

    footer ul li a {
        text-decoration: underline;
        color: whitesmoke;
    }

    .copy-right {
        padding: 20px;
    }

    .copy-right:hover {
        text-decoration: underline;
        text-decoration-color: aqua;
    }

    /* END-FOOTER */